<% layout('layouts/boilerplate')%>

<section class="intro">
    <h1>SAFE</h1>
    
    <div >

          
        <h4>Store passwords in SAFE and not in your head <svg xmlns="http://www.w3.org/2000/svg" width="120" height="120" fill="currentColor" class="bi bi-cloud" viewBox="0 0 16 16">
            <path d="M4.406 3.342A5.53 5.53 0 0 1 8 2c2.69 0 4.923 2 5.166 4.579C14.758 6.804 16 8.137 16 9.773 16 11.569 14.502 13 12.687 13H3.781C1.708 13 0 11.366 0 9.318c0-1.763 1.266-3.223 2.942-3.593.143-.863.698-1.723 1.464-2.383zm.653.757c-.757.653-1.153 1.44-1.153 2.056v.448l-.445.049C2.064 6.805 1 7.952 1 9.318 1 10.785 2.23 12 3.781 12h8.906C13.98 12 15 10.988 15 9.773c0-1.216-1.02-2.228-2.313-2.228h-.5v-.5C12.188 4.825 10.328 3 8 3a4.53 4.53 0 0 0-2.941 1.1z"/>
          </svg></h4>
        <hr>
        <p>
        SAFE keeps your passwords in one place and noone can acess them.Only you!
        </p>
        <button class="btn btn-warning">Get SAFE now</button>
        
    </div>
    
   
    
</section>

<section class="prot">
    
    <div class="container">
        <div class="row">
            <div class="col-6">
                <h3>Cybersecurity starts with password security.</h3>
                <hr>
                <p>
                    SAFE is the top-rated cybersecurity software which protects millions of people and thousands of businesses, globally.</p>
            </div>
            <div class="col-6">
                <span>
                  <img class="img1" src="https://img.icons8.com/ios/50/000000/safe.png"/>
                  <img class="img2" src="https://img.icons8.com/ios/50/000000/bank-safe.png"/>
                  <img id="key" src="https://icon-library.com/images/show-password-icon/show-password-icon-24.jpg" >
                  
                  </span>
                  
            </div>
        </div>
        
    </div>
    
    
</section>

<section class="pack">
    <h2>Cybersecurity starts here</h2>
    <div class="container">
      <div class="row">
        <div id="col1" class="col">
          <h3>Protect Your Business</h3>
          <p>Our zero-knowledge security platform scales to meet the size and requirements of your organization.</p>
          <button class="btn btn-success">View</button>
          <p>
            For business that needs advanced provisioning, reporting tools and delegated administration, learn more about Keeper Enterprise.
          </p>
        
        
        </div>
        <div id="col2" class="col">
          <h3>Protect You and Your Family</h3>
          <p>Join the millions of people who use Keeper to protect their passwords and private information.</p>
          <button class="btn btn-success">View</button>
          <p>
            Protect your family's online privacy with Keeper Family.
          </p>
        </div>
        
    </div>
</section>


<section class="perks">
  <div class="container">
    <div class="row">
      <div id="col1" class="col">
        <svg xmlns="http://www.w3.org/2000/svg" width="50" height="50" fill="currentColor" class="bi bi-shield-lock" viewBox="0 0 16 16">
          <path d="M5.338 1.59a61.44 61.44 0 0 0-2.837.856.481.481 0 0 0-.328.39c-.554 4.157.726 7.19 2.253 9.188a10.725 10.725 0 0 0 2.287 2.233c.346.244.652.42.893.533.12.057.218.095.293.118a.55.55 0 0 0 .101.025.615.615 0 0 0 .1-.025c.076-.023.174-.061.294-.118.24-.113.547-.29.893-.533a10.726 10.726 0 0 0 2.287-2.233c1.527-1.997 2.807-5.031 2.253-9.188a.48.48 0 0 0-.328-.39c-.651-.213-1.75-.56-2.837-.855C9.552 1.29 8.531 1.067 8 1.067c-.53 0-1.552.223-2.662.524zM5.072.56C6.157.265 7.31 0 8 0s1.843.265 2.928.56c1.11.3 2.229.655 2.887.87a1.54 1.54 0 0 1 1.044 1.262c.596 4.477-.787 7.795-2.465 9.99a11.775 11.775 0 0 1-2.517 2.453 7.159 7.159 0 0 1-1.048.625c-.28.132-.581.24-.829.24s-.548-.108-.829-.24a7.158 7.158 0 0 1-1.048-.625 11.777 11.777 0 0 1-2.517-2.453C1.928 10.487.545 7.169 1.141 2.692A1.54 1.54 0 0 1 2.185 1.43 62.456 62.456 0 0 1 5.072.56z"/>
          <path d="M9.5 6.5a1.5 1.5 0 0 1-1 1.415l.385 1.99a.5.5 0 0 1-.491.595h-.788a.5.5 0 0 1-.49-.595l.384-1.99a1.5 1.5 0 1 1 2-1.415z"/>
        </svg>
        <h4>
          Best-in-Class Security
          </h4>
        <p>Keeper uses a proprietary zero-knowledge security architecture and is the most audited and certified product on the market. Keeper protects your business and client data with the privacy, security and confidentiality requirements of your industry.</p>
      </div>
      <div class="col">
        
        <svg xmlns="http://www.w3.org/2000/svg" width="50" height="50" fill="currentColor" class="bi bi-hand-index" viewBox="0 0 16 16">
          <path d="M6.75 1a.75.75 0 0 1 .75.75V8a.5.5 0 0 0 1 0V5.467l.086-.004c.317-.012.637-.008.816.027.134.027.294.096.448.182.077.042.15.147.15.314V8a.5.5 0 1 0 1 0V6.435a4.9 4.9 0 0 1 .106-.01c.316-.024.584-.01.708.04.118.046.3.207.486.43.081.096.15.19.2.259V8.5a.5.5 0 0 0 1 0v-1h.342a1 1 0 0 1 .995 1.1l-.271 2.715a2.5 2.5 0 0 1-.317.991l-1.395 2.442a.5.5 0 0 1-.434.252H6.035a.5.5 0 0 1-.416-.223l-1.433-2.15a1.5 1.5 0 0 1-.243-.666l-.345-3.105a.5.5 0 0 1 .399-.546L5 8.11V9a.5.5 0 0 0 1 0V1.75A.75.75 0 0 1 6.75 1zM8.5 4.466V1.75a1.75 1.75 0 1 0-3.5 0v5.34l-1.2.24a1.5 1.5 0 0 0-1.196 1.636l.345 3.106a2.5 2.5 0 0 0 .405 1.11l1.433 2.15A1.5 1.5 0 0 0 6.035 16h6.385a1.5 1.5 0 0 0 1.302-.756l1.395-2.441a3.5 3.5 0 0 0 .444-1.389l.271-2.715a2 2 0 0 0-1.99-2.199h-.581a5.114 5.114 0 0 0-.195-.248c-.191-.229-.51-.568-.88-.716-.364-.146-.846-.132-1.158-.108l-.132.012a1.26 1.26 0 0 0-.56-.642 2.632 2.632 0 0 0-.738-.288c-.31-.062-.739-.058-1.05-.046l-.048.002zm2.094 2.025z"/>
        </svg>
        <h4>Ease of Use</h4>
        <p>Keeper has an intuitive user interface for computers, smartphones and tablets that can be deployed rapidly with no upfront equipment or installation costs.</p>
      </div>
      <div class="col">
        <svg xmlns="http://www.w3.org/2000/svg" width="50" height="50" fill="currentColor" class="bi bi-gear" viewBox="0 0 16 16">
          <path d="M8 4.754a3.246 3.246 0 1 0 0 6.492 3.246 3.246 0 0 0 0-6.492zM5.754 8a2.246 2.246 0 1 1 4.492 0 2.246 2.246 0 0 1-4.492 0z"/>
          <path d="M9.796 1.343c-.527-1.79-3.065-1.79-3.592 0l-.094.319a.873.873 0 0 1-1.255.52l-.292-.16c-1.64-.892-3.433.902-2.54 2.541l.159.292a.873.873 0 0 1-.52 1.255l-.319.094c-1.79.527-1.79 3.065 0 3.592l.319.094a.873.873 0 0 1 .52 1.255l-.16.292c-.892 1.64.901 3.434 2.541 2.54l.292-.159a.873.873 0 0 1 1.255.52l.094.319c.527 1.79 3.065 1.79 3.592 0l.094-.319a.873.873 0 0 1 1.255-.52l.292.16c1.64.893 3.434-.902 2.54-2.541l-.159-.292a.873.873 0 0 1 .52-1.255l.319-.094c1.79-.527 1.79-3.065 0-3.592l-.319-.094a.873.873 0 0 1-.52-1.255l.16-.292c.893-1.64-.902-3.433-2.541-2.54l-.292.159a.873.873 0 0 1-1.255-.52l-.094-.319zm-2.633.283c.246-.835 1.428-.835 1.674 0l.094.319a1.873 1.873 0 0 0 2.693 1.115l.291-.16c.764-.415 1.6.42 1.184 1.185l-.159.292a1.873 1.873 0 0 0 1.116 2.692l.318.094c.835.246.835 1.428 0 1.674l-.319.094a1.873 1.873 0 0 0-1.115 2.693l.16.291c.415.764-.42 1.6-1.185 1.184l-.291-.159a1.873 1.873 0 0 0-2.693 1.116l-.094.318c-.246.835-1.428.835-1.674 0l-.094-.319a1.873 1.873 0 0 0-2.692-1.115l-.292.16c-.764.415-1.6-.42-1.184-1.185l.159-.291A1.873 1.873 0 0 0 1.945 8.93l-.319-.094c-.835-.246-.835-1.428 0-1.674l.319-.094A1.873 1.873 0 0 0 3.06 4.377l-.16-.292c-.415-.764.42-1.6 1.185-1.184l.292.159a1.873 1.873 0 0 0 2.692-1.115l.094-.319z"/>
        </svg>
        <h4>Ultimate Flexibility</h4>
        <p>Keeper’s configurable roles, role-based permissions and admin privileges align with your organizational structure and policies. Keeper scales for businesses of all sizes.</p>
      </div>
      <div class="col">
        <svg xmlns="http://www.w3.org/2000/svg" width="50" height="50" fill="currentColor" class="bi bi-info-circle" viewBox="0 0 16 16">
          <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
          <path d="m8.93 6.588-2.29.287-.082.38.45.083c.294.07.352.176.288.469l-.738 3.468c-.194.897.105 1.319.808 1.319.545 0 1.178-.252 1.465-.598l.088-.416c-.2.176-.492.246-.686.246-.275 0-.375-.193-.304-.533L8.93 6.588zM9 4.5a1 1 0 1 1-2 0 1 1 0 0 1 2 0z"/>
        </svg>
        <h4>Responsive Support</h4>
        <p>Business customers have access to 24/7 customer support and exclusive training from dedicated support specialists.</p>
        
      </div>
    </div>
  </div>


</section>




<section class="app">
  <h2>Trusted by millions of people and thousands of businesses</h2>
    <div class="container">
      <div class="row">
        <div  class="col">
          <img src="https://www.keepersecurity.com/assets/icons/g2.svg" >
          <h5>G2</h5>
          <h5>2021 Enterprise leader</h5>
          <p>4.7 out of 5 stars</p>
        </div>
        <div  class="col">
          <img src="	https://www.keepersecurity.com/assets/icons/ico-pc-mag.svg" >
          <h5>PC Mag</h5>
          <h5>Editors choice</h5>
          <p>4.9 out of 5 stars</p>
        </div>
        <div  class="col">
          <img src="https://www.keepersecurity.com/assets/icons/ico-app-store.svg" >
          <h5>App Store</h5>
          <h5>Top-rated Productivity</h5>
          <p>4.5 out of 5 stars</p>
        </div>
        <div  class="col">
          <img src="https://www.keepersecurity.com/assets/icons/ico-google-play.svg" >
          <h5>Google Play</h5>
          <h5>Over 10 Millions Installs</h5>
          <p>4.6 out of 5 stars</p>
        </div>
        
        
        
    </div>
    <div class="container">
      <div class="row">
        <div  class="col">
          <img src="https://www.keepersecurity.com/assets/icons/ico-gartner.svg" >
          <h5>Cybersecurity</h5>
          
          <p>4.5 out of 5 stars</p>
        </div>
        <div  class="col">
          <img src="https://www.keepersecurity.com/assets/icons/ico-spiceworks.svg" >
          <h5>Spacework</h5>
          <p>4.8 out of 5 stars</p>
        </div>
        <div  class="col">
          <img src="	https://www.keepersecurity.com/assets/icons/ico-trustpilot.svg" >
          <h5>Trustpilot</h5>
          <p>4.9 out of 5 stars</p>
        </div>
        <div  class="col">
          <img src="https://www.keeper.io/hubfs/GetApp_Logo.svg" >
          <h5>GetApp</h5>
          <p>4.6 out of 5 stars</p>
        </div>
      </div>
    </div>
</section>


<section class="review">
  <h3>Reviews</h3>
  <div class="carousel">
    <div>
      
      
      <p>
        “Best password manager and data vault available. I've been a user for 10 years and can't imagine not having Keeper.”</p>
        <h4>-Dan.W</h4>
    </div>
    <div>
      
      <p>
        “I am the Data and Systems Manager for my firm. I am also a mother, a wife, and the daughter of aging parents. Through the course of a week I touch a LOT of systems, and Keeper remembers every single one of my credentials. I love the way I can structure the accounts into folders. House - Parents - Work - Kid1 - Kid2. It really makes it easy to keep things organized.”</p>
        <h4>-Michael.F</h4>
    </div>
      <div>
      
        <p>
          “I like the folders - I can have a title and keep several records relating to the same thing in one place. I love this app, I honestly couldn't do without it in an age where passwords and logins are everything.”</p>
          <h4>-Sally.F</h4>
      </div>
      <div>
      
        <p>
          “Keeper was the first password manager I could find that supported the U2F hardware keys that we use and this was a non-negotiable requirement at the time and still is. The support is really excellent and above expectations - On all my questions and concerns, I have received a reply within an hour and I am situated in Southern Africa.”</p>
          <h4>-Dina.S</h4>
      </div>
  </div>
</section>



