<% layout('layouts/boilerplate')%>
    <section class="new">
        <h3 class="text-center">New Password</h3>

        <form action="/mysafe/<%=safe._id%>" method="POST">
            <div class="form">
                <div class="mb-3">
                    <label class="form-label" for="title">Title</label>
                    <input maxlength="15" class="form-control" type="text" id="title" name="password[title] " required>
                </div>
                <div class="mb-3">
                    <label class="form-label" for="url">Url</label>
                    <input class="form-control" type="url" id="url" name="password[url]" required>
                </div>
                <div class="mb-3">
                    <label class="form-label" for="password">Password</label>
                    <input class="form-control" type="password" id="password" name="password[password]" required>

                </div>


                <div class="mb-3">
                    <button class="btn btn-success">Add Password</button>
                </div>
            </div>


        </form>
        <a href="/myacc">All Passwords</a>

    </section>